<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.fina.lrps.dao.EmailMapper">

    <select id="getMainDepartment" resultType="string">
        SELECT `department_id` FROM `user_department`
        WHERE `student_id` = #{studentId} AND `if_main` = '是'
   </select>



</mapper>