<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.fina.lrps.dao.EmailMapper">

    <resultMap id="NoticePoResultMap" type="com.fina.lrps.domain.po.NoticePo">
        <id column="notice_id" property="noticeId"/>
        <result column="student_id" property="studentId"/>
        <result column="sending_time" property="content"/>
        <result column="content" property="sendingTime"/>
        <result column="label" property="label"/>
    </resultMap>

    <select id="getMainDepartment" resultType="string">
        SELECT `department_id` FROM `user_department`
        WHERE `student_id` = #{studentId} AND `if_main` = '是'
    </select>

    <select id="getPosition" resultType="string">
        SELECT `position` FROM `user` WHERE `student_id` = #{studentId}
    </select>

    <select id="countLearningMember" resultType="int">
        SELECT COUNT(1) FROM `user` WHERE `state` = '学习'
    </select>

    <insert id="insertNotice" parameterType="com.fina.lrps.domain.po.NoticePo">
        INSERT INTO `notice` (
            notice_id,
            student_id,
            sending_time,
            content,
            label
        ) VALUES (
            #{noticeId},
            #{studentId},
            #{sendingTime},
            #{content},
            #{label}
        )
    </insert>
    
    <insert id="insertNoticeAndUser" parameterType="com.fina.lrps.domain.po.NoticePo">
        INSERT INTO `notice_user` (
        notice_id,
        student_id
        ) VALUES
        <foreach collection="addressesId" item="addressesId" separator=",">
        (
        #{noticeId},
        #{addressesId}
        )
        </foreach>
    </insert>

    <select id="findMember" resultType="int">
        SELECT COUNT(1) FROM `user` WHERE `student_id` = #{studentId}
    </select>

    <select id="findMembers" resultType="int">
        SELECT COUNT(1) FROM `user` WHERE `state` = '学习' AND `student_id` IN
        <foreach collection="array" item="addressesId"
                 open="(" close=")" separator=",">
            #{addressesId}
        </foreach>
    </select>

</mapper>