<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.fina.lrps.dao.UserMapper">
    <resultMap id="BaseResultMap" type="com.fina.lrps.domain.User" autoMapping="true">
        <id column="student_id" property="studentId"></id>
    </resultMap>
    <resultMap id="DepartmentsResultMap" type="com.fina.lrps.domain.Department" autoMapping="true"/>
    <resultMap id="TechnologyResultMap" type="com.fina.lrps.domain.Technology" autoMapping="true"/>
    <select id="getLogin" resultMap="BaseResultMap" parameterType="com.fina.lrps.domain.User">
        select *
        from user
        where user.student_id=#{studentId}
        and user.password=#{password}
--         and user.if_delete='否'  待商议
    </select>
    <select id="queryDepartments" parameterType="java.lang.String" resultMap="DepartmentsResultMap">
        select
            d.*
        from department d
                 left join user_department ud on ud.department_id=d.department_id
                 left join user u on u.student_id=ud.student_id
        where u.student_id=#{studentId}
    </select>
    <select id="queryTechnology" parameterType="java.lang.String" resultMap="TechnologyResultMap">
        select *
        from technology
        left join user_technology ut on technology.technology_id = ut.technology_id
        where ut.student_id=#{studentId}
    </select>
    <update id="deleteUserTechnology" parameterType="java.lang.String">
        update user_technology
        set if_delete='是'
        where technology_id=#{technologyId};
        update technology
        set if_delete='是'
        where technology_id=#{technologyId};
    </update>
</mapper>
