<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.fina.lrps.dao.UserMapper">
    <resultMap id="BaseResultMap" type="com.fina.lrps.domain.User" autoMapping="true">
        <id column="student_id" property="studentId"></id>
    </resultMap>
    <resultMap id="UserListResultMap" type="com.fina.lrps.domain.DepartmentUser" autoMapping="true">
        <association property="user" resultMap="BaseResultMap" autoMapping="true">
            <id column="student_id" property="studentId"></id>
        </association>
    </resultMap>
    <select id="getLogin" resultMap="BaseResultMap" parameterType="com.fina.lrps.domain.User">
        select *
        from user
        where user.student_id=#{studentId}
        and user.password=#{password}
--         and user.if_delete='否'  待商议
    </select>
    <select id="queryAllByDepartmentId" resultMap="UserListResultMap" parameterType="java.lang.String">
        select *
        from user_department ud
        left join user u
        on u.student_id=ud.student_id
        where ud.department_id=#{departmentId}
    </select>
    <update id="deleteUser" parameterType="java.lang.String">
        update user set if_delete='是' where user.student_id = #{studentId};
        update user_department set if_delete='是' where user_department.student_id = #{studentId};
        update user_technology set if_delete='是' where user_technology.student_id = #{studentId}
    </update>
    <update id="updateUserMain" parameterType="java.lang.String">
        update user_department as ud
        set if_main='是'
        where ud.student_id = #{studentId}
    </update>
    <update id="updateUserNotMain" parameterType="java.lang.String">
        update user_department as ud
        set if_main='否'
        where ud.student_id = #{studentId}
    </update>
    <insert id="insertUser" parameterType="com.fina.lrps.domain.DepartmentUser">
        insert into user_department (
            student_id,
            department_id,
            if_delete,
            if_main
        )values (
            #{user.studentId},
            #{departmentId},
            #{ifDelete},
            #{ifMain}
        );
        insert into user (
            student_id,
            password,
            name,
            sex,
            grade,
            single,
            email,
            state,
            registration_date,
            portrait,
            punch_clock,
            position
        ) values (
            #{user.studentId},
            #{user.password},
            #{user.name},
            #{user.sex},
            #{user.grade},
            #{user.single},
            #{user.email},
            #{user.state},
            #{user.registrationDate},
            #{user.portrait},
            #{user.punchClock},
            #{user.position}
        )
    </insert>
</mapper>
